@import "tailwindcss";
@import "nextra-theme-docs/style.css";
@variant dark (&:where(.dark *));

aside {
  @apply bg-white dark:bg-[#121212];
}

:root {
  --nextra-content-width: 1440px;
}

pre > code.nextra-code > span[data-highlighted-line] {
  background-color: rgba(16, 185, 129, 0.3) !important;
}

pre > code.nextra-code > span mark[data-highlighted-chars] {
  background-color:rgba(52, 211, 153, 0.3) !important;
  padding: 3px;
  margin: 0 2px;
  border: none;
}
